<html>
  <head>
    <title>3B Hair</title>
    <link rel = "stylesheet" type = "text/css" href = "style_sheet.css" />
  </head>
  <body>
    <h1>3B Curl Type</h1>
    <h2>Overview</h2>
      <p1>This hair type has stretched spiral curls, that elongate towards the shoulders.</font></p>
    <h2>Products</h3>
      <p1>Cantu<br>SheaMoisture<br>Mixed Chicks</font></p>
    <h2>Hairstyles</h4>
      <p1>This hair type is best styled in wash and go's, flexi rods, twist outs, and braid outs.</font></p>
    <h2>Protective Hair Styles</h5>
      <p1>This hair is more corse than 3A hair, but it is still not thick enought for false hair protective styles. Flat twist and cornrows are recommended.</font></p>
    <h2>Schedule</h6>
    <table style="width:100%">
  <tr>
    <th>    </th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <th>Week 1</th>
    <td>Wash</td>
  </tr>
  <tr>
    <th>Week 2</th>
    <td>Cowash</td>
  </tr>
  <tr>
    <th>Week 3</th>
    <td>Cowash</td>
  </tr>
  <tr>
    <th>Week 4</th>
    <td>Wash</td>
  </tr>
</table>
  </body>
</html>
