<html>
  <head>
    <title>3C Hair</title>
    <link rel = "stylesheet" type = "text/css" href = "style_sheet.css" />
  </head>
  <body>
    <h1>3C Curl Type</h1>
    <h2>Overview</h2>
      <p1>This hair type is the last type of hair #3. It has corkscrew curls/spirals that can range from the size of a pencil to a marker.</font></p>
    <h2>Products</h3>
      <p1>This hair type has loose spiral curls.</font></p>
    <h2>Hairstyles</h4>
      <p1>This hair type is great for twist outs, braid outs, bantu knots and wash and go's.</font></p>
    <h2>Protective Hair Styles</h5>
      <p1>Some great protective styles include box braids/twist(with or without false hair),crochet hair styles, flat twist and cornrows. When keeping box braids/twist make sure the hair is not tight around your edges, it is not too heavy, and you are constantly moisturising your hair everyday. Along with this you should still wash your hair as normal.</font></p>
    <h2>Schedule</h6>
    <table style="width:100%">
  <tr>
    <th>    </th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <th>Week 1</th>
    <td>Wash</td>
  </tr>
  <tr>
    <th>Week 2</th>
    <td>Cowash</td>
  </tr>
  <tr>
    <th>Week 3</th>
    <td>Cowash</td>
  </tr>
  <tr>
    <th>Week 4</th>
    <td>Wash</td>
  </tr>
</table>
  </body>
</html>
