<html>
  <head>
    <title>4A Hair</title>
    <link rel = "stylesheet" type = "text/css" href = "style_sheet.css" />
  </head>
  <body>
    <h1>4A Curl Type</h1>
    <h2>Overview</h2>
      <p1>This is the first form of type 4 curls.
        These curls are known for their well defined loopy 'S' curls.
        Unfortuantly, this hair is prone to frizzing and loosing its definition.
      Circumference of the hair can be compared to that of a crochet needle and
    it typically has less natural protection from damage. </font></p>
    <h2>Products</h3>
      <p1>Kinky Curly Knot Today Leave-in Conditioner,
         <br>Amika Obliphica Curl Defining Cream,
         <br>Kinky Curly Curling Custard,
         <br>Shea Moisture Curl Enhancing Smoothie,
         <br>Moroccan Oil,
         <br>Eco Styler Gel</font></p>
    <h2>Hairstyles</h4>
      <p> Prime hairstyles for 4a hair are wash and go's, braid outs, twist outs, and protective styling.
        <br> Other hairstyle methods such as flexi-rods and bantu knots are typically a little harder to achieve because <br>
        of the thickness and the coarseness of the hair. If you attempt these styles then they'll most likely contain frizz
        <br> or the defintion won't hold as well.</font></p>
    <h2>Protective Hair Styles</h5>
      <p>Protective hairstyles that do not include false hair:<br>
        Halo Braids<br>
        Bantu Knots<br>
        Cornrows<br>
        Flat Twist Updo<br>
        Protective Hairstyles that do include false hair:<br>
        Havana Twists <br>
        Faux Locs<br>
        Box Braids<br>
        Crochet Braids<br>
        Twists<br>
        Custom Wig <br>
        Protective styles can help your hair growth increase and gives you a slight break on maintaining your natural hair.
       </font></p>
    <h2>Schedule</h6>
    <table style="width:100%">
  <tr>
    <th> </th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <th>Week 1</th>
    <td>Wash</td>
  </tr>
  <tr>
    <th>Week 2</th>
    <td>Cowash</td>
  </tr>
  <tr>
    <th>Week 3</th>
    <td>Cowash</td>
  </tr>
  <tr>
    <th>Week 4</th>
    <td>Wash, Deep Condition </td>
  </tr>
</table>
  </body>
</html>
