<html>
  <head>
    <title>4A Hair</title>
    <link rel = "stylesheet" type = "text/css" href = "style_sheet.css" />
  </head>
  <body>
    <h1>4A Curl Type</h1>
    <h2>Overview</h2>
      <p1>This is the first form of the hair type 4 curls.
        These curls are known for their well defined loopy 'S' curls.
        Unfortuantly, this hair is prone to frizzing and loosing its definition.</font></p>
    <h2>Products</h3>
      <p1>SheaMoisture Shampoo, Conditiioner, and Cowash <br>
        Moroccan Oil <br>
         Eco Styler Gel</font></p>
    <h2>Hairstyles</h4>
      <p>This hair type is great for wash and go's.
        Other styles such as flexi rods, twist out and braid out might not work as well due to the silkness of the hair.
        It will mostlikely result in frizzy hair, or it will fall more easily.</font></p>
    <h2>Protective Hair Styles</h5>
      <p>Protective hairstyles that do not include false hair,
        is best for this type of hair. Because the hair is more fine than course,
        the false hair will tugg on the hair too much to help healthy growth.
        The recommended protective style for 3A hair is flat twist, and cornrows. It is important
         to remember to moisturize your hair daily. </font></p>
    <h2>Schedule</h6>
    <table style="width:100%">
  <tr>
    <th> </th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <th>Week 1</th>
    <td>Wash</td>
  </tr>
  <tr>
    <th>Week 2</th>
    <td>Cowash</td>
  </tr>
  <tr>
    <th>Week 3</th>
    <td>Cowash</td>
  </tr>
  <tr>
    <th>Week 4</th>
    <td>Wash, Deep Condition </td>
  </tr>
</table>
  </body>
</html>
