<html>
  <head>
    <title>4B Hair</title>
    <link rel = "stylesheet" type = "text/css" href = "style_sheet.css" />
  </head>
  <body>
    <h1>4B Curl Type</h1>
    <h2>Overview</h2>
      <p1>This is the second form of type 4 curls.
        These curls are known for their well defined 'Z' curls. These curls dont have a specific curl pattern because the hair bends in sharp angles<br>
        like the letter 'Z'. Type 4b is tightly coiled and can feel wiry to the touch and it can range from thin to wiry and coarse. <br>
        The shrinkage level on type 4b is typically up to 75% of its actual hair length.
         </font></p>
    <h2>Products</h3>
      <p1>Kinky Curly Knot Today Leave-in Conditioner,
         <br>Amika Obliphica Curl Defining Cream,
         <br>Kinky Curly Curling Custard,
         <br>Shea Moisture Curl Enhancing Smoothie,
         <br>Moroccan Oil,
         <br>Eco Styler Gel</font></p>
    <h2>Hairstyles</h4>
      <p> </font></p>
    <h2>Protective Hair Styles</h5>
      <p>Protective hairstyles that do not include false hair:<br>
        Halo Braids<br>
        Bantu Knots<br>
        Cornrows<br>
        Flat Twist Updo<br>
        Protective Hairstyles that do include false hair:<br>
        Havana Twists <br>
        Faux Locs<br>
        Box Braids<br>
        Crochet Braids<br>
        Twists<br>
        Custom Wig <br>
        Protective styles can help your hair growth increase and gives you a slight break on maintaining your natural hair.
       </font></p>
    <h2>Schedule</h6>
    <table style="width:100%">
  <tr>
    <th> </th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <th>Week 1</th>
    <td>Wash</td>
  </tr>
  <tr>
    <th>Week 2</th>
    <td>Cowash</td>
  </tr>
  <tr>
    <th>Week 3</th>
    <td>Cowash</td>
  </tr>
  <tr>
    <th>Week 4</th>
    <td>Wash, Deep Condition </td>
  </tr>
</table>
  </body>
</html>
