<!DOCTYPE html>
<html>

<body>

<head>
<title> Quiz Page </title>
</head>

<h1><center> What Hair Type Are You? </center></h1>


  <div id="quiz"></div>


<form action="results" method='post'>
  <p class="question">How does your hair appear?</p>

  <ul class="answers">
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a"> Defined loopy</label><br/>
  <input type="radio" name="q1" value="b" id="q1b"><label for="q1b"> Well defined with less space</label><br/>
  <input type="radio" name="q1" value="c" id="q1c"><label for="q1c"> Corkscrew</label><br/>
  <input type="radio" name="q1" value="d" id="q1d"><label for="q1d"> Fluffy</label><br/>
  </ul>
  <p class="question">How would you describe your hair?</p>

<ul class="answers">
<input type="radio" name="q2" value="a" id="q1a"><label for="q1a">Curly</label><br/>
<input type="radio" name="q2" value="b" id="q1b"><label for="q1b">Coily</label><br/>
</ul>

<p class="question">What shape curls do you have?</p>
<ul class="answers">
<input type="radio" name="q3" value="a" id="q1a"><label for="q1a">S Shape</label><br/>
<input type="radio" name="q3" value="b" id="q1b"><label for="q1b">Z shape </label><br/>
<input type="radio" name="q3" value="c" id="q1c"><label for="q1c">Both</label><br/>
</ul>

<p class="question"> How well does your hair retain moisture?</p>
<ul class="answers">
<input type="radio" name="q4" value="a" id="q1a"><label for="q1a">Well</label><br/>
<input type="radio" name="q4" value="b" id="q1b"><label for="q1b">Kinda</label><br/>
<input type="radio" name="q4" value="c" id="q1c"><label for="q1c">Not at all</label><br/>
</ul>

<p class="question">What is the size of your curls?</p>
<ul class="answers">
<input type="radio" name="q5" value="a" id="q1a"><label for="q1a">Large sidewalk chalk</label><br/>
<input type="radio" name="q5" value="b" id="q1b"><label for="q1b">Sharpie</label><br/>
<input type="radio" name="q5" value="c" id="q1c"><label for="q1c">pencil/straw</label><br/>
<input type="radio" name="q5" value="d" id="q1d"><label for="q1d">Crochet needle</label><br/>
<input type="radio" name="q5" value="e" id="q1c"><label for="q1c">Spring of a pen</label><br/>
<input type="radio" name="q5" value="f" id="q1d"><label for="q1d">Spring of a pen but densely packed </label><br/>
</ul>


<p class="question">What is the biggest problem you have with your hair?</p>
<ul class="answers">
<input type="radio" name="q6" value="a" id="q1a"><label for="q1a">Curl definition ,fighting frizz</label><br/>
<input type="radio" name="q6" value="b" id="q1b"><label for="q1b">Maintaining moisture, avoiding tangles and shrinkage</label><br/>
<input type="radio" name="q6" value="c" id="q1c"><label for="q1c">Both</label><br/>
</ul>
</div>

<div class="quiz-result"></div>
<input type='submit' name="results" value="Get your hair type!">
</form>
